<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Sensr</title>
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <!-- <link rel="stylesheet" href="/stylesheets/scale-style.css"> -->
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
