<% if (user) { %>
  <button id="enableTweet" class="btn btn-primary">Disable Tweets</button>
  |
  <a href="/logout">Logout</a>
<% } else { %>
  <a href="/auth/twitter"><img src="/images/sign-in-with-twitter-link.png"/> to control notifications</a>
<% } %>

<hr>
