<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="/"><img class="navbar-brand" src="/images/cup.png"/></a>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li><a>Coffee Sensr</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if (user) { %>
        <li><a id="enableTweet" href="javascript:void(0);">Disable Tweets</a><li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/auth/twitter"><i class="fa fa-twitter"></i>&nbsp;Sign in to Twitter</a></li>
      <% } %>
    </ul>

  </div>
</nav>
