<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Sensr</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/stylesheets/scale-style.css"> -->
    <link rel='stylesheet' href='/stylesheets/index-style.css' />

  </head>
  <body>

    <div class="text-center vertical-align">
      <div>
        <h1>Welcome to Coffee Sensr</h1>

        <!-- <img style="height: 60vh" src="/images/restaurant.jpg"/> -->
        <br><br>
        <button id="enterButton" class="btn btn-primary">Click to Enter</button>
      </div>
      <br>
    </div>

    <script>
    document.getElementById('enterButton').addEventListener('click',
                                              () => { window.location.href = "/scale_ws_fake"; } );
    </script>
  </body>
</html>
