html {
  background: linear-gradient(rgba(210, 100, 5, 0.8), rgba(0, 89, 150, 0.8)),url(/images/Stanley_Seawall.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-family: 'Cabin', sans-serif;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.Aligner-item {
  max-width: 50%;
}

.btn-primary:hover {
  background-color: chocolate;
  transition: .4s;
}
