<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

  <script src="/js/Chart.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/public/javascripts/ws-chart.js"></script>
  <link rel="stylesheet" href="/stylesheets/scale-style.css">

  <div class="jumboheader jumbotron vertical-align">
    <h2 class="text-center">Coffee and Scale Information</h2>
  </div>

  <div class="container">
    <!-- <h1>Coffee Info</h1> -->
    <!-- <h2 class="text-center">Coffee and Scale Information</h2> -->

    <h3 id="scaleChartText" class="text-center">Last 50 points</h3>
    <canvas id="scaleChart" height="100vh"></canvas>

    <h3 id="barChartCurrDayText" class="text-center">Events from past 24 hours</h3>
    <canvas id="barChartCurrDay" height="75vh"></canvas>

    <h3 id="barChartSelectText" class="text-center">Events from past <span id="timeframeText">week<span></h3>

    <div class="event-buttons text-center">
      <button id="lastWeekButton" class="btn btn-primary">Last Week</button>
      <button id="lastMonthButton" class="btn btn-primary">Last Month</button>
      <button id="lastYearButton" class="btn btn-primary">Last Year</button>
    </div>
    <canvas id="barChartSelect" height="75vh"></canvas>
  </div>

  <br><br>

  <script>
    (function() {
      // $(window).resize(setupChart);
      // // getChartData();
      // setInterval(() => { getAndUpdateChartData() }, 3000);

      connectWs();

      // window.onbeforeunload = () => {
      //   scaleSocket.onclose = () => {}; // disable onclose handler first
      //   scaleSocket.close();
      // };

    })();

    function sendChartWS(ws, queryType) {
      ws.send( JSON.stringify( { queryType: queryType } ) );
    }

    function connectWs() {
      const scaleSocket = new WebSocket("ws://localhost:3000");

      const chartObj = setupLineChart(Array(50));
      const currDayBarObj = setupBarChart("barChartCurrDay", 'Number of Events', {});
      const barChartSelectObj = setupBarChart("barChartSelect", 'Number of Events', {});

      document.getElementById('lastWeekButton').addEventListener('click',
                                                () => { sendChartWS(scaleSocket, 'lastWeek') } );
      document.getElementById('lastMonthButton').addEventListener('click',
                                                () => { sendChartWS(scaleSocket, 'lastMonth') } );
      document.getElementById('lastYearButton').addEventListener('click',
                                                () => { sendChartWS(scaleSocket, 'lastYear') } );

      const enableElement = document.getElementById('enableTweet');
      if ( enableElement ) {
        document.getElementById('enableTweet').addEventListener('click',
                                                () => { sendChartWS(scaleSocket, 'toggleTweets') } );
      }

      scaleSocket.onopen = (event) => {
        // Try to get data for current day ASAP
        scaleSocket.send( JSON.stringify( { queryType: 'lastDay' } ) );
        scaleSocket.send( JSON.stringify( { queryType: 'lastWeek' } ) );
        scaleSocket.send( JSON.stringify( { queryType: 'updateSSMToken' } ) );
      }

      scaleSocket.onmessage = (event) => {
        // console.log(event.data);
        let incomingData = JSON.parse(event.data);

        if ( incomingData.hasOwnProperty("scaleData") ) {
          let scaleD = incomingData.scaleData;
          // setupLineChart(scaleD.slice(scaleD.length-50));
          updateLineChart(chartObj, scaleD.slice(scaleD.length-50));
        }
        if ( incomingData.hasOwnProperty("eventData") ) {
          if (incomingData.queryType === 'lastDay') {
            updateBarChart(currDayBarObj, incomingData.eventData);
            // console.log(incomingData);
          } else if ( incomingData.queryType.match(/^(lastWeek|lastMonth|lastYear)$/) ) {
            updateBarChart(barChartSelectObj, incomingData.eventData);
            document.getElementById('timeframeText').innerHTML = incomingData.queryType.split('last')[1].toLowerCase();
            console.log(incomingData);
          }
        }
        if ( incomingData.hasOwnProperty('tweetEnabled') ) {
          const enableElement = document.getElementById('enableTweet');
          if (enableElement) {
              enableElement.innerHTML = incomingData.tweetEnabled ? "Disable Tweets" : "Enable Tweets";
          }
        }
        // scaleD = JSON.parse(event.data).scaleData;

      };

      scaleSocket.onclose = () => {
        console.error('Lost connection with server, reconnecting...')
        setTimeout( connectWs, 3000 );
      };

      // return scaleSocket;
    }

  </script>

<%- include('../partials/footer.ejs') %>
